<div class="plan-container">
  <div class="content-container">
    <p>Step 3 of 3</p>
    <h3>Choose the plan that's right for you</h3>
    <div class="text-container">
      <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon> Watch all you want Ad-free</h6>
      <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon>Recommendations just for you</h6>
      <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon>Change or cancel your plan anytime</h6>
    </div>
  </div>
  <div class="plan-container">
    <!-- <table mat-table>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Monthly Rate</th>
        <td mat-cell *matCellDef="let element">Thing</td>

      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->


    <table>
      <colgroup>
        <col style="color: red">
        <col style="color: red">
        <col style="color: red">
        <col style="color: red">
      </colgroup>
      <tr>
        <td></td>
        <td>
          <div class="plan-type-container">
            <div class="plan-type-box">Basic</div><div class="plan-type-triangle"></div>
          </div>
        </td>
        <td>
          <div class="plan-type-container">
            <div class="plan-type-box">Standard</div><div class="plan-type-triangle"></div>
          </div>
        </td>
        <td>
          <div class="plan-type-container">
            <div class="plan-type-box">Premium</div><div class="plan-type-triangle"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Monthly Price</td>
        <td style="text-align: center">$9.99</td>
        <td style="text-align: center">$15.49</td>
        <td style="text-align: center">$19.99</td>
      </tr>
      <hr>
      <tr>
        <td>Video Quality</td>
        <td style="text-align: center">Good</td>
        <td style="text-align: center">Better</td>
        <td style="text-align: center">Best</td>
      </tr>
      <tr>
        <td>Resolution</td>
        <td style="text-align: center">480p</td>
        <td style="text-align: center">1080p</td>
        <td style="text-align: center">4k + HDR</td>
      </tr>
      <hr>
      <tr>
        <td>Watch on your TV, computer, mobile phone and tablet</td>
        <td style="text-align: center"><mat-icon style="font-size: 1rem;">checkmark</mat-icon></td>
        <td style="text-align: center"><mat-icon style="font-size: 1rem;">checkmark</mat-icon></td>
        <td style="text-align: center"><mat-icon style="font-size: 1rem;">checkmark</mat-icon></td>

      </tr>

    </table>
  </div>
</div>

<!-- style="border-top: 20px solid transparent;" -->
