<div class="register-container">
  <app-navbar></app-navbar>
  <div class="outlet-container">
    <!-- <router-outlet></router-outlet> -->
    <div class="form-container" *ngIf="currentStep === 1">
      <p>Step 1 of 3</p>
      <h3>Create a password to start your membership</h3>
      <h6>Just a few more steps and you're done!</h6>
      <h6>We hate paperwork, too.</h6>
      <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
        <button mat-button type="submit">Next</button>
      </form>
    </div>
    <div class="form-container" *ngIf="currentStep === 2">
      <p>Step 2 of 3</p>
      <h3>Create a username and add your Tmdb API key</h3>
      <h6>Just a few more steps and you're done!</h6>
      <h6>We hate paperwork, too.</h6>
      <form [formGroup]="usernameForm" (ngSubmit)="onUsernameSubmit()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Key</mat-label>
          <input type="text" matInput formControlName="apiKey">
        </mat-form-field>
        <button mat-button type="submit">Next</button>
      </form>
    </div>
    <div class="form-container" *ngIf="currentStep === 3">
      <div class="plan-container">
        <div class="content-container">
          <p>Step 3 of 3</p>
          <h3>Choose the plan that's right for you</h3>
          <div class="text-container">
            <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon> Watch all you want Ad-free</h6>
            <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon>Recommendations just for you</h6>
            <h6><mat-icon style="color:red; font-size: 1rem;">checkmark</mat-icon>Change or cancel your plan anytime</h6>
          </div>
        </div>
        <div class="plan-container">
          <table>
            <tr>
              <td></td>
              <td>
                <div class="plan-type-container" (click)="toggleColumnSelection(0)" [class.selected]="isColumnSelected(0)">
                  <div class="plan-type-box">Basic</div><div class="plan-type-triangle"></div>
                </div>
              </td>
              <td>
                <div class="plan-type-container" (click)="toggleColumnSelection(1)" [class.selected]="isColumnSelected(1)">
                  <div class="plan-type-box">Standard</div>
                  <div class="plan-type-triangle"></div>
                </div>
              </td>
              <td>
                <div class="plan-type-container" (click)="toggleColumnSelection(2)" [class.selected]="isColumnSelected(2)">
                  <div class="plan-type-box">Premium</div><div class="plan-type-triangle"></div>
                </div>
              </td>
            </tr>
            <tr class="horizontal-line" style="margin-bottom: 2rem;">
              <td>Monthly Price</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(0)">$9.99</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(1)">$15.49</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(2)">$19.99</td>
            </tr>
            <tr>
              <td>Video Quality</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(0)">Good</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(1)">Better</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(2)">Best</td>
            </tr>
            <tr class="horizontal-line">
              <td>Resolution</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(0)">480p</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(1)">1080p</td>
              <td style="text-align: center" [class.selected]="isColumnSelected(2)">4k + HDR</td>
            </tr>
            <tr>
              <td>Watch on your TV, computer, mobile phone and tablet</td>
              <td style="text-align: center"><mat-icon style="font-size: 1rem;" [class.selected]="isColumnSelected(0)">checkmark</mat-icon></td>
              <td style="text-align: center"><mat-icon style="font-size: 1rem;" [class.selected]="isColumnSelected(1)">checkmark</mat-icon></td>
              <td style="text-align: center"><mat-icon style="font-size: 1rem;" [class.selected]="isColumnSelected(2)">checkmark</mat-icon></td>

            </tr>

          </table>
        </div>
        <button style="justify-self: center; align-self: center; width: 40%;" (click)="onPlanSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>
