<div class="container">
  <p>STEP 1 OF 3</p>
  <h2 class ="title"> Create a password to start your membership</h2>
  <p> Just a few more steps and you're done!</p>
  <p> We hate paperwork, too. </p>

  <form [formGroup]="firstForm" (ngSubmit)="onSubmit()">
    <label>Enter your email *</label>
    <input type="email" id="form2Example1" class="form-control" formControlName = "email"
     />
    <label>Add a password *</label>
    <input type="password" id="form2Example1" class="form-control" formControlName = "password"
      name="password" />
    <button type="submit"> Next</button>
  </form>
</div>
