<div class="hero">
  <h1 class="title">Unlimited movies, TV shows, and more</h1>
  <h4 class="sub-title">Watch anywhere. Cancel anytime.</h4>
  <div class="search-box">
    <p>
      Ready to watch? Enter your email to create or restart your membership.
    </p>
    <div class="search-box-email">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input type="email" matInput class="input" />
      </mat-form-field>
      <button mat-flat-button color="warn" class="email-button">
        Get Started!
      </button>
    </div>
  </div>

  <app-introduction></app-introduction>
</div>
