<nav class="navbar navbar-expand-lg  navbar-light" style="background-color: transparent;">
  <div class="container px-5">
    <a class="navbar-brand" href="#!" routerLink="/main" routerLinkActive="active">
      <img class="img-fluid" src="assets/Netflix_2015_logo.svg" style="height: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#!" routerLink="/discovery" routerLinkActive="active"><button type="button" class="btn btn-danger">Discovery (for now)</button></a></li>
         <li class="nav-item"><a class="nav-link" href="#!" routerLink="/login" routerLinkActive="active"><button type="button" class="btn btn-danger">Sign In</button></a></li>
      </ul>
    </div>
  </div>
</nav>
