<body>
    <div class="Top-Bar">
        <div class="Top-Bar-Elements">
            <button class="Logo-Button" [routerLink]="['/homepage']">
                <img class="Logo" src="../../assets/Logo_Fake.png" />
            </button>
            <button class="signinButton" [routerLink]="['/sign-in']">Sign In</button>
        </div>
    </div>
    <hr>
    <div class="user-container">
        <p class="step">STEP 1 OF 3</p>
        <p class="topText">Create a password to start your membership</p>
        <p class="midText">Just a few more steps and you're done!</p>
        <p class="midText">We hate paperwork, too.</p>
        <form class="formFormat" [formGroup]="storeData" (ngSubmit)="onSubmit()">
            <div>
                <label for="userId"></label>
                <input class="Form-Style" id="userId" type="text" placeholder="Email" formControlName="userId">
                <div class="message" *ngIf="storeData.controls['userId'].invalid && (storeData.controls['userId'].dirty || storeData.controls['userId'].touched)">
                    Email is Required
                </div>
            </div>
            <div>
                <label for="userPw"></label>
                <input class="Form-Style" id="userPw" type="password" placeholder="Add a Password" formControlName="userPw">
                <div class="message" *ngIf="storeData.controls['userPw'].invalid && (storeData.controls['userPw'].dirty || storeData.controls['userPw'].touched)">
                    Password is Required
                </div>
            </div>
            <div><button class="NextButton" type="submit" [routerLink]="['/step2']">Next</button></div>
        </form>
    </div>

    <div class="help-container"></div>

</body>