<div class="main">
  <div class="container">
    <app-header></app-header>
    <!-- Movie List -->
    <!-- {{ movies$ | async | json }} -->
    <div
      class="movie-lists"
      infiniteScroll
      [infiniteScrollDistance]="2"
      (scrolled)="scrollCallback()"
    >
      <mat-grid-list cols="4" [gutterSize]="'20px'" rowHeight="500px">
        <!-- <mat-grid-tile *ngFor="let movie of movies$ | async"> -->
        <mat-grid-tile *ngFor="let movie of movies">
          <app-movie [movieDetails]="movie"></app-movie>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>

<!-- https://image.tmdb.org/t/p/w500/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg -->
