<mat-card class="card">
  <mat-card-content>
    <div class="pricing">
      <div class="pricing__column">

        <button class="button"  mat-raised-button>Select plan</button>
      </div>
      <div class="pricing__column selected">

        <button class="button"  mat-raised-button>Select plan</button>
      </div>
      <div class="pricing__column">
        <button class="button"  mat-raised-button>Select plan</button>
      </div>
    </div>
  </mat-card-content>

</mat-card>
<button style="width: 200px; background-color: transparent;
color: white; font-size: large;"  mat-button>Apply</button>
<app-background />
