<body>
    <div class="top-redirect">
        <p class="top-text">My Application</p>
        <button class="element" [routerLink]="['/home']">Home</button>
        <button class="element" [routerLink]="['/wishlist']">Wishlist</button>
    </div>
    <div class="middle-divider">
        <div class="left">
            <form class="searchBar">
                <input class="userInput" type="text" placeholder="Search Book">
            </form>
            <span class="eachBook" *ngFor="let count of BookData">
                <img class="image" src="{{count.picture}}">
                <div class="text">
                    <div class="title">{{count.title}}</div>
                    <div class="content">{{count.publisher}}</div>
                    <div class="content">{{count.pubDate}}</div>
                    <div class="content">{{count.description}}</div>
                </div>
            </span>
        </div>
        <div class="right">
            <p class="wishlist-bar">My Reading WishList</p>
        </div>
    </div>
</body>