<mat-card class="card" (click)="onClick(movieInfo.id)">
  <mat-card-header>
    <mat-card-title>
      {{ movieInfo.title | truncate: 22}}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-set>
        <mat-chip highlighted color="accent">
          {{ movieInfo.release_date | dateToYear}}
        </mat-chip>
        <mat-chip highlighted color="warn">
          {{ movieInfo.vote_average}}
        </mat-chip>
        <mat-chip highlighted color="primary">
          {{ movieInfo.original_language}}
        </mat-chip>
      </mat-chip-set>
    </mat-card-subtitle>

  </mat-card-header>
  <img mat-card-image src={{movieInfo.poster_path}} width="300px" height="400px" alt="Photo of a Shiba Inu">
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
