<form action="" class="form-login form-display form">
  <h3 class="title">Sign In</h3>
  <div>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Email or Phone Number</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Enter your password</mat-label>
      <input matInput />
    </mat-form-field>

    <button mat-flat-button color="warn" class="btn">Sign In</button>
    <div class="checkbox">
      <mat-checkbox class="example-margin">Remember Me?</mat-checkbox>
      <p>Need Help?</p>
    </div>
  </div>
</form>
