<mat-card class="card">
  <mat-card-header>
    <h1 class="full-width" style="text-align: center;">Password</h1>
  </mat-card-header>
  <mat-card-content>
    <form>
      <p>Please enter you password</p>
      <mat-form-field class="full-width">
        <mat-label>Your password</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field  class="full-width">
        <mat-label>Confirm your password</mat-label>
        <input matInput>
      </mat-form-field>

      <div>
        <button class="full-width" mat-raised-button routerLink="/selectPlan">Continue</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>
<app-background />
