<section class="introduction">
  <div class="sub-section">
    <div>
      <h1 class="introduction-title">Enjoy on your TV</h1>
      <p class="introduction-content">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players, and more.
      </p>
    </div>
    <div class="intro-image">
      <img
        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/enjoyOnTv/en.png"
        alt=""
      />
    </div>
  </div>
  <hr />
  <div class="sub-section reverse">
    <div>
      <h1 class="introduction-title">Enjoy on your TV</h1>
      <p class="introduction-content">
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
        players, and more.
      </p>
    </div>
    <div class="intro-image">
      <img
        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/watchEverywhere/en.png"
        alt=""
      />
    </div>
  </div>
  <hr />
  <div class="sub-section">
    <div>
      <h1 class="introduction-title">Create profiles for kids</h1>
      <p class="introduction-content">
        Send kids on adventures with their favorite characters in a space made
        just for them—free with your membership.
      </p>
    </div>
    <div class="intro-image">
      <img
        src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/cards/v2.1/kids/en.png"
        alt=""
      />
    </div>
  </div>
</section>
