<div
  class="backdrop"
  [style.backgroundImage]="'url(' + imageUrl + ')'"
  [ngStyle]="{
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content" *ngIf="movieInfo">
    <!-- Content goes here -->

    <mat-card class="movie-detail">
      <div class="movie-info">
        <h1 class="movie-title">{{ movieInfo.title }}</h1>
        <p class="movie-release-year">
          {{ movieInfo.release_date | date : "yyyy" }} |
          {{ movieInfo.original_language }} | {{ movieInfo.genres }}
        </p>
        <p class="movie-description">
          {{ movieInfo.overview }}
        </p>

        <div class="example-button-row">
          <button mat-flat-button extended color="accent">
            <mat-icon>airplay</mat-icon>
            Watch Now
          </button>
          <button mat-flat-button extended color="primary">
            <mat-icon>theaters</mat-icon>
            Watch Trailer
          </button>
        </div>
      </div>
      <div class="movie-poster">
        <div>
          <h1 class="poster-title">Poster</h1>
          <div class="posters">
            <ng-container *ngFor="let poster of moviePosters">
              <img [src]="poster" alt="" />
            </ng-container>

            <!-- <h1>{{ poster }}</h1> -->
          </div>
        </div>
        <div class="">
          <h1 class="poster-title">Actors</h1>
          <div class="actor-posters">
            <ng-container *ngFor="let actor of actors | slice : 0 : 6">
              <div>
                <img [src]="actor.profileImage" alt="" />
                <p>{{ actor.name }}</p>
              </div>
            </ng-container>
          </div>

          <!-- <h1>{{ poster }}</h1> -->
        </div>
      </div>
    </mat-card>

    <!-- <div class="data">
      {{ movieInfo | json }}
    </div> -->
  </div>
</div>
