
<div class="container">
  <div class="left">
    <mat-card class="card">
      <mat-card-header style="display: flex;">
        <mat-card-title
          style="font-size: 50px; line-height: 4rem;padding-bottom: 20px;">{{movieDetail.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{movieDetail.vote_average | number:'.1-1'}} |
          {{movieDetail.vote_count}}&nbsp;&nbsp;&nbsp;&nbsp;{{movieDetail.runtime}}mins&nbsp;&nbsp;&nbsp;&nbsp;{{genres}}&nbsp;&nbsp;&nbsp;&nbsp;{{movieDetail.release_date
          | dateToYear}}
        </p>
        <p>{{movieDetail.overview}}</p>
      </mat-card-content>
      <mat-card-actions >
        <app-dialog [movieId] = "id"/>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="right">
    <h1 style="font-size: 50px; line-height: 4rem;padding-bottom: 20px;">Casts</h1>
    <div class="rightcontent">

      <div *ngFor="let item of movieCasts">
        <div class="cast" *ngIf="item.profile_path != null" >
        <img src="{{item.profile_path}}" width="100px" />
        <p>{{item.name}}</p>
      </div>
      </div>
    </div>
  </div>
</div>
