<body>
    <div class="left">
        <p class="top-bar">List</p>
        <hr class="horizontal">
        <div *ngFor="let element of listData">
            <div class="eachList" (click)="onEachListClick($event, element)">
                <div class="color-bar" [style.background-color]="element.color"></div>
                <div class="text-divide">
                    <div class="bigText">{{ element.name }}</div>
                    <div class="smallText">{{ element.description }}</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="vertical">
    <div class="right">
        <div class="name">{{storeName}}</div>
        <div class="description">{{storeDescription}}</div>
    </div>
</body>