.step2 {
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.step2 p {
  font-size: 1.2rem;
}
.input-field {
  width: 100%;
}

.btn {
  width: 400px;
  height: 50px;
}

.mat-icon {
  color: red;
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.step2__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.step2__content {
  display: flex;
  gap: 10px;
}

.step2__content p {
  margin-top: 10px;
}
