<div class="step2">
  <!-- <p><i class="fa-solid fa-check"></i></p>
  <mat-icon fontSet="fa-solid" fontIcon="check"></mat-icon> -->
  <div class="step2__title">
    <mat-icon>check_circle_outline</mat-icon>
    <p>STEP 2 OF 3</p>
  </div>
  <h1>Choose your plan</h1>
  <div class="step2__content">
    <mat-icon>check</mat-icon>
    <p>No commitments, cancel anytime.</p>
  </div>
  <div class="step2__content">
    <div>
      <mat-icon>check</mat-icon>
    </div>
    <p>Endless entertainment for one low price.</p>
  </div>
  <div class="step2__content">
    <mat-icon>check</mat-icon>
    <p>Unlimited viewing on all your devices.</p>
  </div>
  <button mat-flat-button color="warn" class="btn" routerLink="/register/3">
    Next
  </button>
</div>
