<app-navbar [BackButton]="true" />
<mat-card class="card">
  <mat-card-header>
    <h1 class="full-width" style="text-align: center;">Register</h1>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="RegisterForm" (ngSubmit)="onFormSubmit()">
      <p>Please enter your username</p>
      <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input formControlName="username" name="username" matInput>
        <mat-error
          *ngIf="RegisterForm.controls['username'].invalid && (RegisterForm.controls['username'].dirty || RegisterForm.controls['username'].touched)">
          user name must be greater than 4
        </mat-error>
      </mat-form-field>

      <p>Please enter your email</p>
      <div class="full-width">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" name="email" matInput>
          <mat-error
            *ngIf="RegisterForm.controls['email'].invalid && (RegisterForm.controls['email'].dirty || RegisterForm.controls['email'].touched) && !RegisterForm.controls['email'].hasError('exist')">
            Email is required.
          </mat-error>
          <mat-error
            *ngIf="RegisterForm.controls['email'].hasError('exist') && (RegisterForm.controls['email'].dirty || RegisterForm.controls['email'].touched) ">
            Email exist
          </mat-error>
        </mat-form-field>
      </div>


      <div>
        <button type="submit" class="full-width transparent" style="color: white;" mat-raised-button>Continue</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>
<app-background />
