<div class="form-container">
  <p>Step 1 of 3</p>
  <h3>Create a password to start your membership</h3>
  <h6>Just a few more steps and you're done!</h6>
  <h6>We hate paperwork, too.</h6>
  <form action="">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </form>
  <button mat-button routerLink="username">Next</button>
</div>