body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(12, 10, 32); */
}

.movie-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.image-container {
    width: 15vw;
    height: 50vh;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.background {
    width: 15vw;
    height: 50vh;
    background-size: cover;
}

.image-container::after {
    content: "";
    width: 15vw;
    height: 50vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    filter: brightness(25%);
}

.poster {
    max-width: 40%;
    max-height: 40%;
}

.title {
    color: white;
}

.context {
    width: 300px;
    color: white;
}

.button {
}