<app-movie-details [getId]="id"></app-movie-details>
<body>
  <div class="movie-container">
    <div *ngFor="let index of movieList">
      <div class="image-container">
        <img class="background" src="{{index.poster_path}}">
        <img class="poster" src="{{index.poster_path}}">
        <p class="title">{{index.title}}</p>
        <p class="context">{{index.overview}}</p>
        <button class="button" type="submit" 
          (click)="setId(index.id)">
          More Details
        </button>  
      </div>
    </div>
  </div>
</body>