<app-navbar [BackButton]="true"/>
<mat-card class="card">
  <mat-card-header>
    <h1 class="full-width" style="text-align: center;">Register</h1>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="RegisterForm" (ngSubmit)="onFormSubmit()">
      <p>Please enter you first name and last name</p>
      <table cellspacing="3">
        <tr>
          <td><mat-form-field appearance="outline" >
              <mat-label>First name</mat-label>
              <input formControlName="firstname" name="firstname" matInput>
              <mat-error
            *ngIf="RegisterForm.controls['firstname'].invalid && (RegisterForm.controls['firstname'].dirty || RegisterForm.controls['firstname'].touched)">
            Firstname is required.
          </mat-error>
            </mat-form-field></td>
          <td><mat-form-field appearance="outline" >
              <mat-label>Last Name </mat-label>
              <input formControlName="lastname" name="lastname" matInput>
              <mat-error
            *ngIf="RegisterForm.controls['lastname'].invalid && (RegisterForm.controls['lastname'].dirty || RegisterForm.controls['lastname'].touched)">
            Lastname is required.
          </mat-error>
            </mat-form-field></td>
        </tr>
      </table>


      <div class="full-width">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" name="email" matInput>
          <mat-error
            *ngIf="RegisterForm.controls['email'].invalid && (RegisterForm.controls['email'].dirty || RegisterForm.controls['email'].touched) && !RegisterForm.controls['email'].hasError('exist')">
            Email is required.
          </mat-error>
          <mat-error
            *ngIf="RegisterForm.controls['email'].hasError('exist')">
            Email exist
          </mat-error>
        </mat-form-field>
      </div>


      <div>
        <button type="submit" class="full-width transparent" mat-raised-button>Continue</button>
      </div>
    </form>

  </mat-card-content>

</mat-card>
<app-background />
