<body>
    <div class="Top-Bar">
        <button class="Logo-Button" [routerLink]="['/homepage']">
            <img class="Logo" src="../../assets/Logo_Fake.png" />
        </button>
    </div>
    <div class="Signin-Box">
        <p class="Box-Text">Sign In</p>
        <form><input class="Form-Style" id="form1" type="text" placeholder="Email or phone number"></form>
        <form><input class="Form-Style" id="form2" type="text" placeholder="Password"></form>
        <button class="SignInButton" type="submit">Sign In</button>
        <div class="Preference">
            <div class="boxDivider">
                <input class="checkbox" type="checkbox" id="remember" name="remember" checked>
                <label for="remember">Remember Me</label>
            </div>
            <button class="Help">Need help?</button>
        </div>
    </div>
    <div class="Information-Box"></div>

</body>
