.top-redirect {
    display: flex;
    width: 50%;
    height: 5%;
    align-items: center;
}

.top-text {
    width: 15%;
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.element {
    width: 10%;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    background-color: white;
}