.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__logo {
  padding-top: .5rem;
  fill: red;
  height: 40px;
  width: 120px;
}

.navbar__signIn {
  margin-left: 70px;
  text-decoration: none;
}

.navbar__movies {
  text-decoration: none;
}

.navbar__signInButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
