.movie-list-container {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  gap: .75rem;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  app-movie-item {
    flex: 1;
    max-width: calc(14.29% - .75rem);

    @media only screen and (max-width: 1800px) {
      flex: calc(16.6667% - .75rem);
      max-width: calc(16.667% - .75rem);
    }
    @media only screen and (max-width: 1500px) {
      flex: calc(20% - .75rem);
      max-width: calc(20% - .75rem);
    }
    @media only screen and (max-width: 1100px) {
      flex: calc(25% - .75rem);
      max-width: calc(25% - .75rem);
    }
    @media only screen and (max-width: 800px) {
      flex: calc(33.333% - .75rem);
      max-width: calc(33.3333% - .75rem);
    }

    @media only screen and (max-width: 600px) {
      flex: calc(50% - .75rem);
      max-width: calc(50% - .75rem);
    }
  }
}